
$main-color:#35557b;
header{
  background-color: $main-color;
} 

.navbar-brand{
  height: auto;
}

.navbar-static-top {
  margin-bottom: 19px;
} 
.LOGO-EN-WHITE {
  width: 158px;
  height: 38px;
  object-fit: contain;
}

.block-rounded-blue{
  background-color:$main-color;
  border-radius:5px;
  color:#FFF;
  padding-top:20px;
  padding-bottom:20px;
}
.block-rounded-white{
  color:$main-color;
  background-color:#FFF;
  border-radius:5px;
  height:90px;
  font-size:0;
  .input-group{
    
    input.form-control{
      height: 30px;
      padding-top:10px;
      border:0;
      box-shadow:none;
       background-color:transparent;
      color:$main-color;
    }
    .input-group-addon{
      border:0;
      background-color:transparent;
    padding:5px;
      font-size:12px;
      color:$main-color;
      &:first-child{
        width:24px;
      }
      i{
        font-size:16px;
      }
    }
  }
}
.half-ver,.half-horz{
  padding:5px 10px;
  font-size:16px;
}
.half-ver{
  height:50%;
  &:first-child{
    border-bottom:1px solid $main-color;
  }
}
.half-horz{
  height:100%;
  width:50%;
  display:inline-block;
  &:first-child{
    border-right:1px solid $main-color;
  }
}
.check-light{
  position: relative;
  display: block;
  input{
    position: relative;
    z-index: 2;
    cursor: pointer;
   
  }
   label{
      content: "";
      width: 18px;
      height: 18px;
      background-color: #FFF;
      border: 2px solid $main-color;
      border-radius: 3px;
      position: absolute;
      z-index: 0;
    }
     input:checked+label{
      
        content: "\f00c";
        font: normal normal normal 14px/1 FontAwesome;
        color: $main-color;
       
    
    }
}
  .circle-box{
    border-radius: 50%;
    background-color: #71c8f0;
    text-align: center;
    padding: 50px 10px 10px 10px;
    margin: 10px auto 50px auto;
    width: 220px;
    height: 220px;
    position: relative;
    &.yellow{
      background-color: #ffcc33;
    }
    p,h1, h2, h3{
      color: #FFF;
    }
    &:after{
      content: "";
      position: absolute;
      bottom: -50px;
      background-color:$main-color;
      height: 50px;
      width: 2px;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.2;
    }
  }
  h4,h5{
    color:$gray-dark;
  }
  h1, h2, h3,h4,h5{
    small{
      color: inherit;
    }
  }
  .ver-spacing{
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .promotions{
    position: relative;
    @extend .ver-spacing;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      background-color:$main-color;
      height: 2px;
      width: 75%;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.2;
    }
  }
  .top-padding{
    padding-top: 10px;
  }
  .grey-bg{
    background-color:#f4f4f4;
  }
  .getapp{
    background-color: #7b96b6;
    padding-top: 10px;
    *{color: #FFF;}
    .app-screens-mobile{
    margin: 0;
    margin-top: -100px;
    }
  }